
/* Colors
================================================================================================= */
$logo_blue: #006CED;
$logo_gray: #D8D8D8;

// Grays
$light-gray: #F1F1F1;
$mid-gray: #ECECEC;
$dark-gray: #B8BDC4;
