
// Color
$headline-color: black;

// Headings
h1, h2, h3, h4, h5 {
 margin-bottom:0.25em;
 color:$headline-color;
 font-family: 'Roboto', sans-serif;
 font-weight: 100;
}

h1 {font-size:4em;}
h2 {font-size:3em;}
h3 {font-size:2.25em;}
h4 {font-size:1.75em;}
h5 {font-size:1.4em;}
