
// Color
$link-color: $logo_gray;
$link-hover-color: $logo_blue;


// Links
a {
 color:$link-color;
 @include ease;

 &:focus, &:hover, &:active { outline: 0; }
 &:hover { color:$link-hover-color; }
}
